<div class="container">
    <h1><b>Login</b></h1>
    <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
        <div> 
            <label for="usename">Email</label>
            <input type="email" class="form-control" formControlName = "email">
        </div>
        <div>
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName ="password">
        </div>
        <div>
            <button pButton type="submit" (click) = "onSubmit()" label="Login" class="ui-button-raised"></button>
        </div>
    </form>
    <button pButton type="button" routerLink='/register' label="Register" class="ui-button-raised ui-button-secondary"></button>
</div>
