<!-- main content container -->
<nav class="navbar navbar-expand navbar-dark bg-dark navbar-nav">
  <a class="nav-item nav-link" routerLink="/home"><b>Home</b></a>
  <a class="nav-item nav-link" routerLink="/login"><b>Login</b></a>
  <a class="nav-item nav-link" routerLink="/register"><b>Register</b></a>
  <a class="nav-item nav-link" routerLink="/tickets"><b>Order Dashboard</b></a>
  <a class="nav-item nav-link" routerLink="/edit-menu"><b>Edit Menu</b></a>
 </nav>

  <div class="row">
        <div class="col-sm-8 offset-sm-2">
                
            <router-outlet>
                
            </router-outlet>
        </div>
    </div>
<body>