<!-- main content container -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/login">Login</a>
            <a class="nav-item nav-link" routerLink="/register">Register</a>
            <a  class="nav-item nav-link" routerLink="/home">Home</a>
            <a class="nav-item nav-link" routerLink="/users">Users</a>
            <a  class="nav-item nav-link" routerLink="/profile">Profile</a>
            <a  class="nav-item nav-link" routerLink="/tickets">Order Dashboard</a>
            <a  class="nav-item nav-link" routerLink="/ticket-history">Ticket History</a>
            <a  class="nav-item nav-link" routerLink="/edit-menu">Edit Menu</a>
        <!-- <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a *ngIf="access >= 1" class="nav-item nav-link" routerLink="/home">Home</a>
        <a *ngIf="access == 3" class="nav-item nav-link" routerLink="/users">Users</a>
        <a *ngIf="access == 0" class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a *ngIf= "access >= 2" class="nav-item nav-link" routerLink="/tickets">Order Dashboard</a>
        <a  *ngIf="access == 3" class="nav-item nav-link" routerLink="/ticket-history">Ticket History</a>
        <a  *ngIf="access == 3" class="nav-item nav-link" routerLink="/edit-menu">Edit Menu</a> -->
    </div>
  </nav>


  <div class="row">
        <div class="col-sm-8 offset-sm-2">
                
            <router-outlet>
                
            </router-outlet>
        </div>
    </div>
<body>