/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html{

width: 100% ;
height: 100%;
background-color:#545563;
}

.logoutrow {
    position: relative;
    align-content: center;
    height : 20px;
    
}
table.darkTable {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.darkTable td, table.darkTable th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
  }
  table.darkTable tbody td {
    font-size: 13px;
    color: #E6E6E6;
  }
  table.darkTable tr:nth-child(even) {
    background: #888888;
  }
  table.darkTable thead {
    background: #000000;
    border-bottom: 3px solid #000000;
  }
  table.darkTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #4A4A4A;
  }
  table.darkTable thead th:first-child {
    border-left: none;
  }
  
  table.darkTable tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #E6E6E6;
    background: #000000;
    background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
    border-top: 1px solid #4A4A4A;
  }
  table.darkTable tfoot td {
    font-size: 12px;
  }
.row {

    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:#545563;
    padding: 0px;
   height: 100%;
   
}
.navbar-nav {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px; 

}
.nav-item {
    font-size: larger;
    margin: 20px;
}
.img-div { 
    height:100%; width:100%;}
img { 
    max-width:100% }
.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.ui-button-raised {
    background-color:#545563;
    border: 2px solid #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
    height: 45px;
    color: #545563;
}
body .ui-button {
    background-color: #9fa2a6 !important;
    border: #9fa2a6 !important;
    -webkit-transition-duration: 0.5s !important; /* Safari */
    transition-duration: 0.5s !important;
    color: black !important;
}
body .ui-button:hover {
    background-color: #1e1b46 !important;
    color: white !important;
  }

