<div class="container">
<div class="text"> 
<br>  
<h1><b>Dive Into the Drive In Delights</b></h1>
<br>
<p>Welcome to our drive in theater located right here in the Permian Basin outside Midland, Texas on
buisness 20. Whether you are here with the family or on a date,for a scary movie or an action packed 
comedy we have the food for you. Containing a full service reasturant that delivers  striaght to your
window and a completely stocked bar, youll never have to get out of your car!
</p>
<br>
</div> 
<div class="img-div">
<img src="/images/DriveIn.JPG"><br><br>
</div>
<div class="text"> 
    <button pButton type="submit" (click) = "logout()" label="Log Out" class="ui-button-raised"></button>
</div>    
    <router-outlet>
    </router-outlet>
<br><br><p><sub>All Charges are not a tip paid to your carhop. 
Please reward your carhop for awesomeness, else they might spoil the movie for you. We are not 
responsible for this and no refunds will be issued. Copyright 2019 by Arturo Madrid, Sierra Domiguez, and
Alexander Lyssy. All money spent here is sent directly to them.</sub></p>
</div>