<div class="container">
<h1>Register Page</h1>
<form [formGroup] = "Register" (ngSubmit) = "onSubmit()">
        <div class="form-group"> 
            <label for="firstName">First Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group"> 
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control">
        </div>
        <div class="form-group"> 
                <label for="usename">Email</label>
                <input type="email" class="form-control">
        </div>
        <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control">
        </div>
        <div class="form-group">
                <button pButton type="button" label="Register" class="ui-button-raised"></button>
                <button pButton type="button" label="Canccel" class="ui-button-raised ui-button-secondary"></button>
        </div> 
</form>
</div>